/* Geral */
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Poppins", sans-serif;
  background: linear-gradient(180deg, #1b0035 0%, #390042 100%);
  color: white;
}

html {
  scroll-behavior: smooth;
}

p {
  color: #f5ccff;
}

/* Transição */
a,
.btn {
  transition: all 300ms ease;
}

/* Desktop Nav */
nav,
.nav-links {
  display: flex;
}

nav {
  justify-content: space-around;
  align-items: center;
  height: 17vh;
}

.nav-links {
  gap: 2rem;
  list-style: none;
  font-size: 1.5rem;
}

a {
  color: #ffe0f7;
  text-decoration: none;
  text-decoration-color: white;
}

a:hover {
  color: #ffb3ec;
  text-decoration-color: #d0a8ff;
  text-decoration: underline;
  text-underline-offset: 1rem;
}

.logo {
  font-size: 2rem;
  color: #ff61c2;
}

.logo:hover {
  cursor: default;
}

/* Hamburger Menu */
#hamburger-nav {
  display: none;
}

.hamburger-menu {
  position: relative;
  display: inline-block; /* Deixa um elemento pra trabalhar tanto como um elemento de bloco ou linha */
}

.hamburger-icon {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 24px;
  width: 30px;
  cursor: pointer;
}

.hamburger-icon span {
  width: 100%;
  height: 2px;
  background-color: #ffe0f7;
  transition: all 0.3 ease-in-out;
}

.menu-links {
  position: absolute;
  top: 100%;
  right: 0;
  background-color: white;
  width: fit-content; /* Permite que os elementos sejam dimensionados de acordo com o seu conteúdo, mas sem ultrapassar o tamanho máximo de conteúdo */
  max-height: 0;
  overflow: hidden;
  transition: all 0.3 ease-in-out;
  background: linear-gradient(180deg, #1b0035 0%, #390042 100%);
}

.menu-links a {
  display: block;
  padding: 10px;
  text-align: center;
  font-size: 1.5rem;
  color: #ffb3ec;
  text-decoration: none;
  transition: all 0.3 ease-in-out;
}

.menu-links a:hover {
  color: #ff61c2;
  text-decoration-color: #ff61c2;
}

.menu-links li {
  list-style: none;
}

.menu-links.open {
  max-height: 300px;
}

.hamburger-icon.open span:first-child {
  /* Primeiro Elememento (linha) */
  transform: rotate(45deg) translate(10px, 5px); /* Mover a linha na direção X e Y para transformar em um "X" */
}

.hamburger-icon.open span:nth-child(2) {
  /* Segundo Elememento (linha) */
  opacity: 0; /* Esconde a segunda linha */
}

.hamburger-icon.open span:last-child {
  /* Último Elememnto */
  transform: rotate(-45deg) translate(10px, -5px); /* Mover a linha na direção X e Y para transformar em um "X" */
}

.hamburger-icon span:first-child {
  transform: none;
}

.hamburger-icon span:first-child {
  opacity: 1;
}

.hamburger-icon span:first-child {
  transform: none;
}

/* Seções */
section {
  padding-top: 4vh;
  margin: 0 10rem;
  box-sizing: border-box;
  min-height: fit-content;
}

.seção-container {
  display: flex;
}

/* Seção Perfil */
#perfil {
  display: flex;
  justify-content: center;
  gap: 5rem;
  height: 80vh;
}

.seção-fotos-container {
  display: flex;
  width: 400px;
  height: 400px;
  margin: auto 0;
}

.foto-sobre {
  display: flex;
  width: 300px;
  height: 300px;
  margin: auto 0;
}

.seção-texto {
  align-self: center;
  text-align: center;
}

.seção-texto p {
  color: #ffe0f7;
  font-weight: 600;
}

.seção-texto-p1 {
  color: #ffe0f7;
  text-align: center;
}

.seção-texto-p2 {
  color: #ffe0f7;
  font-size: 1.75rem;
  margin-bottom: 1rem;
}

.título {
  font-size: 3rem;
  text-align: center;
  margin-bottom: 1rem;
}

#socials-container {
  display: flex;
  justify-content: center;
  margin-top: 1rem;
  gap: 1rem;
}

/* Ícones */
.icon {
  height: 2rem;
  cursor: pointer;
}

.perfil-icon {
  height: 2.5rem;
  cursor: pointer;
  color: #ffe0f7;
}

/* Buttons */
.btn-container {
  display: flex;
  justify-content: center;
  gap: 1rem;
}

.btn {
  font-weight: 600;
  transition: all 300ms ease;
  padding: 1rem;
  width: 8rem;
  border-radius: 2rem;
}

.btn-color-1,
.btn-color-2 {
  color: white;
  background: #ff61c2;
  border: #d1009e 0.1rem solid;
}

.btn-color-1:hover,
.btn-color-2:hover {
  cursor: pointer;
  background: #d1009e;
}

/* Seção "Sobre" */
#sobre {
  position: relative;
  margin-bottom: 6rem;
}

.seção-container {
  gap: 2rem;
}

.sobre-containers {
  display: flex;
  gap: 2rem;
  margin-bottom: 1rem;
  margin-top: 1rem;
}

.detalhes-container {
  padding: 1.5rem;
  flex: 1;
  color: #ffe0f7;
  text-align: center;
  border-radius: 2rem;
  border-color: rgb(163, 163, 163);
  background: rgba(255, 255, 255, 0.05);
  border: 1px solid rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(10px);
}

/* Seção "Habilidades" */
#habilidade {
  position: relative;
  margin-bottom: 6rem;
}

.habilidade-sub-título {
  color: #f5ccff;
  font-weight: 600;
  font-size: 1.75rem;
  margin-bottom: 2rem;
}

.habilidade-detalhes-container {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.article-container {
  display: flex;
  text-align: initial;
  flex-wrap: wrap;
  flex-direction: row;
  gap: 2.5rem;
}

article {
  display: flex;
  width: 10rem;
  gap: 0.5rem;
}

article .icon {
  cursor: default;
}

/* Seção "Projetos" */
#projetos {
  position: relative;
  margin-bottom: 6rem;
}

.color-container {
  color: #ffe0f7;
  background: rgba(255, 255, 255, 0.05);
  border: 1px solid rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(10px);
}

.projeto-img {
  width: 100%;
  height: 100%;
}

.projeto-título {
  margin: 1rem;
}

.seção-texto-projeto {
  margin-bottom: 1rem;
}

/* Seção "Carrossel de Projetos" */
.carrossel-container {
  position: relative;
  max-width: 1000px;
  margin: 0 auto;
}

.carrossel-projetos-container {
  overflow: hidden;
  flex: 1;
}

.carrossel-projetos {
  display: flex;
  transition: transform 0.5s ease-in-out;
}

.projetos-wrapper {
  display: flex;
  flex: 0 0 100%;
  justify-content: space-around;
  gap: 2rem;
  padding: 2rem 0;
}

.carrossel-btn {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: rgba(255, 97, 194, 0.1);
  border: 1px solid #ff61c2;
  color: #ff61c2;
  font-size: 2rem;
  padding: 0.4rem 0.8rem;
  cursor: pointer;
  border-radius: 8px;
  backdrop-filter: blur(6px);
  transition: all 0.3s;
  z-index: 10;
}

.carrossel-btn:hover {
  background-color: #ff61c2;
  color: white;
}

.carrossel-btn.esquerda {
  left: -100px;
}

.carrossel-btn.direita {
  right: -100px;
}

/* Seção "Certificados" */
#certificados {
  position: relative;
  margin-bottom: 2rem;
}

.certificado-img {
  width: 100%;
  height: 100%;
}

.certificado-título {
  margin: 1rem;
}

/* Seção "Contato" */
#contato {
  display: flex;
  justify-content: center;
  flex-direction: column;
  height: 70vh;
}

.contato-info-upper-container {
  display: flex;
  justify-content: center;
  border-radius: 2rem;
  margin: 2rem auto;
  padding: 0.5rem;
  background: rgba(255, 255, 255, 0.05);
  border: 1px solid rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(10px);
  color: #ffe0f7;
}

.contato-info-container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  margin: 1rem;
}

.contato-info-container p {
  color: #f5ccff;
  font-size: larger;
}

/* Seção "Footer" */
footer {
  height: 26vh;
  margin: 0 1rem;
}

footer p {
  text-align: center;
}
